 body{
  	background-color:indigo;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/hd/5eeea355389655.59822ff824b72.gif);
    background-size: 200px;
    background-repeat:no-repeat;
    background-position: 100% 100%;
    background-attachment: fixed;
  }
p{
  	font-size:1in;
    background-image:url(https://t4.ftcdn.net/jpg/05/71/83/47/360_F_571834789_ujYbUnH190iUokdDhZq7GXeTBRgqYVwa.jpg) ;
background-size:cover;
color:DodgerBlue;
text-align:center;
  }
  div{
    height: 500px;
    width: 500px;
    margin: 20px;
  }
#d1{
    background-image:url(https://img.freepik.com/free-photo/forest-landscape_71767-127.jpg?size=626&ext=jpg&ga=GA1.1.632798143.1708538400&semt=ais);
background-size: cover;
border: ridge 20px brown;
  }
#d2{
   background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Rotating_earth_%28large%29.gif/200px-Rotating_earth_%28large%29.gif)
border: solid 30px;
border-image: linear-gradient(Yellow,Gold)15;
}
#img2{
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 50%;
    box-shadow: 15px -15px 50px Gold;
}
#img1{
    width: 50%;
}